.main-pdf-table {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    overflow: hidden;
    word-break: normal;
}

.text-align-right {
    text-align: right;
}

.text-align-center {
    text-align: center;
}

.text-align-left {
    text-align: left;
}

.tr-styles tr:nth-child(n-7) {
    background: none;
}

.tr-styles tr:nth-child(4n+5) {
    background: #ebebeb;
}

.tr-styles tr:nth-child(4n+6) {
    background: #ebebeb;
}

.tr-styles tr:last-child {
    background: none;
}

.border-collapse-collapse {
    border-collapse: collapse;
}

.border-spacing {
    border-spacing: 5px;
}

.marker-buttons {
    display: none;
}

.list-markers {
    margin-top: 25px;
}

.search-image {
    max-width: 200px;
}

.inner-table {
    border-collapse: collapse;
    border-style: hidden;
}

.black-border-1-solid {
    border: 1px solid black;
}

.inner-table td {
    border: 1px solid black;
}

.width-10 {
    width: 10%;
}

.width-100 {
    width: 100%;
}

.width25 {
    width: 25px;
}

.width40 {
    width: 40px;
}

.width80 {
    width: 80px;
}

.width110 {
    width: 110px;
}

.width170 {
    width: 170px;
}

.width200 {
    width: 200px;
}

.width900 {
    width: 900px;
}

.width500 {
    width: 500px;
}

.whole-height {
    height: 1000px;
}

.whole-size {
    width: 100%;
    height: 100%;
}

.font-size-20 {
    font-size: 20px;
}

.font-size-22 {
    font-size: 22px;
}

.font-size-26 {
    font-size: 26px;
}

.margin-left-5 {
    margin-left: 5px;
}

.margin-left-10 {
    margin-left: 10px;
}

.padding-left-10 {
    padding-left: 10px;
}

.font-bold {
    font-weight: bold;
}

.footer-table {
    font-size: 10px;
    font-family: Arial;
}

.big-font {
    font-size: 20px;
    font-weight: bold;
    font-family: Arial;
}

.bold-font {
    font-weight: bold;
    font-family: Arial;
}

.common-font {
    font-weight: normal;
    font-family: Arial;
}

.grey-border-table, th, td {
    border: 1px solid #c5c5c5;
    border-collapse: collapse;
}