@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	body

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	.my-support-m
		display: flex !important
		flex-wrap: wrap !important
		div
			width: 100% !important
			border-bottom: 1px solid #d4d4d4 !important
			border-right: none !important
	.my-alert
		width: 20rem !important

/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	body

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	body

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	.my-alert
		width: 16rem !important

/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	body

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	body

@media only screen and (min-width : 576px)
	body

/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	body

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	body

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	body