@import "libs"
@import "vars"

html, body
	height: 100%
	width: 100%
	padding: 0
	margin: 0
	font-family: 'Ubuntu', sans-serif
	display: block
	//background: linear-gradient(135deg, $accent, darken($main, 8%)) !important

@for $i from 0 through 149
	.min-hr-#{$i}
		min-height: #{$i}rem !important
	.hr-#{$i}
		min-height: #{$i}rem !important
		height: #{$i}rem !important
		max-height: #{$i}rem !important
	.max-hr-#{$i}
		max-height: #{$i}rem !important

	.min-wr-#{$i}
		min-width: #{$i}rem !important
	.wr-#{$i}
		min-width: #{$i}rem !important
		width: #{$i}rem !important
		max-width: #{$i}rem !important
	.max-wr-#{$i}
		max-width: #{$i}rem !important

@for $i from 0 through 14
	.my-tw-#{$i}
		width: #{$i}rem
		min-width: #{$i}rem

.my-tb
	font-size: 23px

.my-svg
	svg
		width: 100% !important
		height: auto !important
		display: block !important

.pass-logo
	width: 100%
	padding: 0.5rem 0.3rem 0.1rem 0.4rem

.required
	.custom-checkbox
		display: flex
		flex-flow: wrap
		&:after
			order: 1
			position: relative
			content: "*"
			color: red
			font-weight: 600
			margin-left: 0.15rem
		div
			flex-flow: wrap
	&:not(.custom-file)
		& > label
			&:after
				content: "*"
				color: red
				font-weight: 600
		& > div
			&:not(.custom-checkbox)
				& > label
					&:after
						content: "*"
						color: red
						font-weight: 600
	&.custom-file
		label
			&:before
				content: "*"
				font-weight: 600
				font-size: 1.1rem
				color: red

.my-info-field
	background-color: #ffffff
	display: inline-block
	i
		padding: 0.1rem
		float: left
		color: #9B9B9B !important
		&:hover
			& ~ small
				display: block
	small
		position: absolute
		z-index: 999
		display: none
		padding: 0.7rem 0.7rem 0.7rem 1rem
		margin-top: 1rem
		left: 2rem
		right: 2rem
		background-color: #ffffff
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23) !important
		&:hover
			display: block

.my-alert
	position: fixed !important
	bottom: 120px !important
	right: 30px !important
	z-index: 99999 !important
	width: 30rem !important

.main-footer
	background: lighten(#f4f6f9, 2%)

#particles-js
	position: absolute
	z-index: -7
	left: 0
	right: 0
	top: 0
	bottom: 0
	min-height: 100% !important
	background: #f4f6f9

.footer-center
	text-align: center
.my-navbar-purple
	//background: transparent !important
	background: linear-gradient(135deg, $accent, darken($main, 8%)) !important
//background: linear-gradient(35deg, #396afc, #2948ff)
a
	&.my-leng-nav
		opacity: 0.7
		transition: all 0.2s
		&:hover
			opacity: 1
			transition: all 0.2s
//	color: black !important
//&:active
//	color: black !important

.card-success.card-outline
	border-color: $main

.main-header, .index-navbar
	padding: 0 !important
.navbar-nav
	padding: 8px !important
//.my-hamburger-nav
//	padding: 4px 8px !important
//.my-btn-outline-light-admin
//	height: 38px !important
.main-sidebar
	//background: transparent !important
	background: linear-gradient(35deg, $main, $accent) !important
	nav
		.nav-treeview
			background-color: $accent !important
			.nav-item
				border-bottom: 1px solid $main
		.nav-icon
			position: relative !important
			top: 3px !important
			font-size: 1.3rem !important
			margin-right: 5px !important
			border: 0 !important
		& > ul
			& > li
				& > .active
					background: rgba(255,255,255,0.9) !important
					color: var( --dark ) !important
		.nav-item
			border-bottom: 1px solid $main
	.nav-link
		padding-top: 9px !important
		padding-bottom: 9px !important

.my-brand-link
	background-color: transparent
	height: 52px !important
	border: 0 !important
	font-weight: 900 !important
	font-size: 1.6rem !important
	padding: 12px 16px
	span
		line-height: 2rem !important
.sidebar-collapse
	nav
		.nav-icon
			margin-left: 0.65rem !important
			border: 0 !important
	.main-header
		.navbar-nav
			.my-hamburger
				i
					transition: all 0.2s
					&:before
						content: '\f054'
.nav-treeview
	& > .nav-item
		& > .nav-link
			opacity: 0.7
			&.active
				background: linear-gradient( 35deg, lighten($accent, 10%),  lighten($accent, 30%)) !important
				color: white !important
				opacity: 1
.sidebar-mini.sidebar-collapse .main-sidebar:hover + nav,
.sidebar-mini.sidebar-collapse .main-sidebar.sidebar-focused + nav
	margin-left: 250px !important
.sidebar-mini.sidebar-collapse .main-sidebar:hover nav .nav-icon,
.sidebar-mini.sidebar-collapse .main-sidebar.sidebar-focused nav .nav-icon
	margin-left: 0rem !important
.sidebar-mini.sidebar-collapse .main-sidebar:hover .nav-flat.nav-sidebar > .nav-item .nav-treeview .nav-item > .nav-link,
.sidebar-mini.sidebar-collapse .main-sidebar.sidebar-focused .nav-flat.nav-sidebar > .nav-item .nav-treeview .nav-item > .nav-link
	border-left: .2rem solid !important
.img-passprot
	max-width: 100%

//.main-sidebar, .main-sidebar::before
//	transition: unset!important
//.sidebar .nav-link p, .main-sidebar .brand-text, .main-sidebar .logo-xs, .main-sidebar .logo-xl, .sidebar .user-panel .info
//	transition: unset!important

.btn
	&-jp
		&-main
			color: $main
			border-color: $main
			&:hover
				background: rgba($accent, 0.77)
				color: #fff
		&-light
			color: #fff
			border-color: #fff
			&:hover
				background: #fff
				color: $accent!important

.img-logo
	width: 100%
	border-radius: 5px
	padding: 0
	margin: auto
	display: block
	&-cub
		width: 50% !important
//background: darken(#f4f6f9, 3%)
@import "media"